@mixin fadeOutUp-keyframes {
    @keyframes fadeOutUp {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
      }
    }
}

@mixin fadeOutUp {
    @include fadeOutUp-keyframes;

    .fadeOutUp {
      animation-name: fadeOutUp;
    }
}
