@mixin fadeOut-keyframes {
    @keyframes fadeOut {
      0% {opacity: 1;}
      100% {opacity: 0;}
    }
}

@mixin fadeOut {
    @include fadeOut-keyframes;

    .fadeOut {
      animation-name: fadeOut;
    }
}
