@mixin zoomIn-keyframes {
    @keyframes zoomIn {
      0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
      }

      50% {
        opacity: 1;
      }
    }
}

@mixin zoomIn {
    @include zoomIn-keyframes;

    .zoomIn {
      animation-name: zoomIn;
    }
}
